
$tamañoDePantalla1280PX: "1280px";
$tamañoDePantalla1200PX: "1200px";
$tamañoDePantalla1000PX: "1000px";
$tamañoDePantalla900PX: "900px";
$tamañoDePantalla800PX: "800px";
$tamañoDePantalla700PX: "700px";
$tamañoDePantalla600PX: "600px";
$tamañoDePantalla500PX: "500px";
$tamañoDePantalla400PX: "400px";
$tamañoDePantalla390PX: "390px";
$tamañoDePantalla350PX: "350px";
$tamañoDePantalla200PX: "200px";
